[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flake8-black = "*"
beautifulsoup4 = "*"
lxml = "*"
sec-api = "*"
python-dotenv = "*"
supabase = "*"
pytest = "*"

[dev-packages]
black = "*"
autopep8 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
